.tela-pix5 {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.tela-pix5 .overlap-wrapper {
  background-color: #ffffff;
  height: 1032px;
  width: 1280px;
}

.tela-pix5 .overlap {
  height: 1034px;
  position: relative;
  top: -2px;
}

.tela-pix5 .rectangle {
  height: 1032px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 1280px;
}

.tela-pix5 .rectangle-2 {
  background-color: #f5061d;
  border-radius: 0px 0px 20px 20px;
  height: 75px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1280px;
}

.tela-pix5 .text-wrapper-2 {
  color: #000000;
  font-family: "Exo 2", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 482px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 151px;
  white-space: nowrap;
}

.tela-pix5 .p {
  color: #000000;
  font-family: "Exo 2", Helvetica;
  font-size: 28px;
  font-weight: 400;
  left: 442px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 244px;
}

.tela-pix5 .text-wrapper-3 {
  color: #ffffff;
  font-family: "Exo 2", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 556px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12px;
  white-space: nowrap;
  width: 167px;
}

.tela-pix5 .rectangle-3 {
  background-color: #f7f7f7;
  border: 1px solid;
  border-color: #676363;
  height: 200px;
  left: 373px;
  position: absolute;
  top: 286px;
  width: 532px;
}

.tela-pix5 .group-29 {
  left: 17px !important;
  position: absolute !important;
  top: 9px !important;
}

.tela-pix5 .text-wrapper-4 {
  color: #000000;
  font-family: "Exo 2", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 398px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 378px;
  white-space: nowrap;
}

.tela-pix5 .input-field-instance {
  border-color: #000000 !important;
  border-radius: unset !important;
  height: 54px !important;
  left: 398px !important;
  position: absolute !important;
  top: 412px !important;
  width: 483px !important;
}

.tela-pix5 .design-component-instance-node {
  font-family: "Exo 2", Helvetica !important;
  font-size: 20px !important;
  top: 15px !important;
}

.tela-pix5 .button-ent-ent-inactive {
  left: 940px !important;
  position: absolute !important;
  top: 912px !important;
}

.tela-pix5 .button-ent-ent-instance {
  left: -22px !important;
}

.tela-pix5 .dropdown-menu-instance {
  left: 397px !important;
  position: absolute !important;
  top: 305px !important;
  width: 483px !important;
}
