.component .text-wrapper-6 {
  color: #ffffff;
  font-family: "Exo 2", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 105px;
  white-space: nowrap;
}

.component .bem-vindo-usuario {
  color: #ffffff;
  font-family: "Exo 2", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 57px;
  white-space: nowrap;
}

.component .text-wrapper-7 {
  color: #ffffff;
  font-family: "Exo 2", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 81px;
  white-space: nowrap;
}

.component .frame {
  align-items: center;
  background-color: #ffffff0a;
  border: 1px solid;
  border-color: #ffffff4c;
  display: flex;
  justify-content: center;
  left: 41px;
  position: absolute;
  top: 950px;
  width: 203px;
}

.component .logout {
  height: 54px;
  position: relative;
  width: 61px;
}

.component .text-wrapper-8 {
  color: #ffffff;
  font-family: "Exo 2", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.component .img {
  height: 96px;
  left: 219px;
  position: absolute;
  top: 0;
  width: 67px;
}

.component .group-2 {
  height: 27px;
  left: 10px;
  position: absolute;
  top: 25px;
  width: 30px;
}

.component.sidebar {
  background-color: #787878;
  height: 1024px;
  position: relative;
  width: 286px;
}

.component.male-user {
  background-image: url(https://c.animaapp.com/v0SxTu3L/img/male-user-1@2x.png);
  background-size: 100% 100%;
  height: 96px;
  width: 67px;
}
