.tela-pix6 {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.tela-pix6 .overlap-wrapper {
  background-color: #ffffff;
  height: 1032px;
  width: 1280px;
}

.tela-pix6 .overlap {
  height: 1034px;
  position: relative;
  top: -2px;
}

.tela-pix6 .rectangle {
  height: 1032px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 1280px;
}

.tela-pix6 .div {
  background-color: #f7f7f7;
  border: 1px solid;
  border-color: #676363;
  height: 147px;
  left: 469px;
  position: absolute;
  top: 300px;
  width: 343px;
}

.tela-pix6 .text-wrapper-2 {
  color: #000000;
  font-family: "Exo 2", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 581px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 360px;
  white-space: nowrap;
}

.tela-pix6 .rectangle-2 {
  background-color: #f5061d;
  border-radius: 0px 0px 20px 20px;
  height: 75px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1280px;
}

.tela-pix6 .text-wrapper-3 {
  color: #000000;
  font-family: "Exo 2", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 436px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 156px;
  white-space: nowrap;
}

.tela-pix6 .text-wrapper-4 {
  color: #ffffff;
  font-family: "Exo 2", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 556px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12px;
  white-space: nowrap;
  width: 167px;
}

.tela-pix6 .group-29 {
  left: 17px !important;
  position: absolute !important;
  top: 9px !important;
}

.tela-pix6 .contacts {
  height: 69px;
  left: 485px;
  position: absolute;
  top: 341px;
  width: 71px;
}

.tela-pix6 .text-wrapper-5 {
  color: #000000;
  font-family: "Exo 2", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 581px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 335px;
  white-space: nowrap;
}

.tela-pix6 .text-wrapper-6 {
  color: #000000;
  font-family: "Exo 2", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 581px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 385px;
  white-space: nowrap;
}

.tela-pix6 .button-ent-ent-inactive {
  left: 940px !important;
  position: absolute !important;
  top: 912px !important;
}
