.tela-emprstimo_emp2 {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.tela-emprstimo_emp2 .div {
  background-color: #ffffff;
  height: 1024px;
  overflow: hidden;
  position: relative;
  width: 1280px;
}

.tela-emprstimo_emp2 .overlap {
  background-color: #f5061d;
  border-radius: 0px 0px 20px 20px;
  height: 80px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1281px;
}

.tela-emprstimo_emp2 .text-wrapper {
  color: #ffffff;
  font-family: "Exo 2", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 517px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
  white-space: nowrap;
  width: 248px;
}

.tela-emprstimo_emp2 .group-29 {
  left: 16px !important;
  position: absolute !important;
  top: 10px !important;
}

.tela-emprstimo_emp2 .p {
  color: #000000;
  font-family: "Exo 2", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 157px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 131px;
  width: 968px;
}

.tela-emprstimo_emp2 .rectangle {
  background-color: #b30808;
  height: 5px;
  left: 246px;
  position: absolute;
  top: 295px;
  width: 250px;
}

.tela-emprstimo_emp2 .rectangle-2 {
  background-color: #b40808;
  height: 5px;
  left: 508px;
  position: absolute;
  top: 295px;
  width: 250px;
}

.tela-emprstimo_emp2 .rectangle-3 {
  background-color: #b9b6b6;
  height: 5px;
  left: 770px;
  position: absolute;
  top: 295px;
  width: 250px;
}

.tela-emprstimo_emp2 .text-wrapper-2 {
  color: #000000;
  font-family: "Exo 2", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 246px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 254px;
}

.tela-emprstimo_emp2 .overlap-2 {
  background-color: #f7f7f7;
  border: 1px solid;
  border-color: #676363;
  border-radius: 10px;
  height: 161px;
  left: 378px;
  position: absolute;
  top: 410px;
  width: 525px;
}

.tela-emprstimo_emp2 .qual-o-valor-que-wrapper {
  height: 21px;
  left: 64px;
  position: absolute;
  top: 23px;
  width: 396px;
}

.tela-emprstimo_emp2 .qual-o-valor-que {
  color: #000000;
  font-family: "Exo 2", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 394px;
}

.tela-emprstimo_emp2 .rectangle-4 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 10px;
  height: 51px;
  left: 19px;
  position: absolute;
  top: 75px;
  width: 484px;
}

.tela-emprstimo_emp2 .button-cria-conta {
  left: 525px !important;
  position: absolute !important;
  top: 670px !important;
}

.tela-emprstimo_emp2 .cria-inactive-instance {
  left: -36px !important;
}

.tela-emprstimo_emp2 .design-component-instance-node {
  font-size: 25px !important;
}
