.tela-pix2 {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.tela-pix2 .overlap-wrapper {
  background-color: #ffffff;
  height: 1032px;
  width: 1280px;
}

.tela-pix2 .overlap {
  height: 1034px;
  position: relative;
  top: -2px;
}

.tela-pix2 .rectangle {
  height: 1032px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 1280px;
}

.tela-pix2 .div {
  background-color: #f7f7f7;
  border: 1px solid;
  border-color: #676363;
  height: 193px;
  left: 290px;
  position: absolute;
  top: 190px;
  width: 716px;
}

.tela-pix2 .rectangle-2 {
  background-color: #f7f7f7;
  border: 1px solid;
  border-color: #676363;
  height: 394px;
  left: 510px;
  position: absolute;
  top: 518px;
  width: 260px;
}

.tela-pix2 .rectangle-3 {
  background-color: #f5061d;
  border-radius: 0px 0px 20px 20px;
  height: 75px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1280px;
}

.tela-pix2 .text-wrapper-2 {
  color: #000000;
  font-family: "Exo 2", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 498px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 102px;
  white-space: nowrap;
}

.tela-pix2 .p {
  color: #000000;
  font-family: "Exo 2", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 377px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 443px;
  white-space: nowrap;
}

.tela-pix2 .text-wrapper-3 {
  color: #ffffff;
  font-family: "Exo 2", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 556px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12px;
  white-space: nowrap;
  width: 167px;
}

.tela-pix2 .group-29 {
  left: 17px !important;
  position: absolute !important;
  top: 9px !important;
}

.tela-pix2 .contacts {
  height: 69px;
  left: 466px;
  position: absolute;
  top: 252px;
  width: 71px;
}

.tela-pix2 .text-wrapper-4 {
  color: #6b6868;
  font-family: "Exo 2", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 545px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 275px;
  white-space: nowrap;
}

.tela-pix2 .text-wrapper-5 {
  color: #000000;
  font-family: "Exo 2", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 545px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 251px;
  white-space: nowrap;
}

.tela-pix2 .chave-chave-do {
  color: #6b6868;
  font-family: "Exo 2", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 545px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 295px;
  white-space: nowrap;
}

.tela-pix2 .rectangle-4 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  height: 51px;
  left: 551px;
  position: absolute;
  top: 564px;
  width: 180px;
}

.tela-pix2 .rectangle-5 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  height: 51px;
  left: 551px;
  position: absolute;
  top: 695px;
  width: 180px;
}

.tela-pix2 .text-wrapper-6 {
  color: #000000;
  font-family: "Exo 2", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 551px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 532px;
  white-space: nowrap;
}

.tela-pix2 .text-wrapper-7 {
  color: #000000;
  font-family: "Exo 2", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 551px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 661px;
  white-space: nowrap;
}

.tela-pix2 .rectangle-6 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  height: 51px;
  left: 551px;
  position: absolute;
  top: 826px;
  width: 180px;
}

.tela-pix2 .text-wrapper-8 {
  color: #000000;
  font-family: "Exo 2", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 551px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 792px;
  white-space: nowrap;
}

.tela-pix2 .text-wrapper-9 {
  color: #6b6868;
  font-family: "Exo 2", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 562px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 577px;
  white-space: nowrap;
}

.tela-pix2 .text-wrapper-10 {
  color: #6b6868;
  font-family: "Exo 2", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 562px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 708px;
  white-space: nowrap;
}

.tela-pix2 .r-saldo-disp {
  color: #6b6868;
  font-family: "Exo 2", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 562px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 839px;
  white-space: nowrap;
}

.tela-pix2 .line {
  height: 1px;
  left: 130px;
  object-fit: cover;
  position: absolute;
  top: 415px;
  width: 1019px;
}

.tela-pix2 .button-ent-ent-inactive {
  left: 942px !important;
  position: absolute !important;
  top: 912px !important;
}
