

.cadastro {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .cadastro .div {
    background-color: #ffffff;
    height: 1024px;
    position: relative;
    width: 1280px;
  }
  
  .cadastro .overlap {
    background-color: #f7f7f7;
    border: 1px solid #676363;
    border-radius: 10px;
    height: 896px;
    left: 25px;
    position: absolute;
    top: 103px;
    width: 1229px;
  }
  
  .cadastro .text-wrapper-2 {
    color: #000000;
    font-family: "Exo 2", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 30px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 240px;
    white-space: nowrap;
    width: 62px;
  }
  
  .cadastro .text-wrapper-3 {
    color: #000000;
    font-family: "Exo 2", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 30px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 469px;
    white-space: nowrap;
    width: 94px;
  }
  
  .cadastro .text-wrapper-4 {
    color: #000000;
    font-family: "Exo 2", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 30px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 119px;
    white-space: nowrap;
    width: 100%;
  }
  
  .cadastro .overlap-2 {
    height: 88px;
    left: 639px;
    position: absolute;
    top: 239px;
    width: 555px;
  }
  
  .cadastro .text-wrapper-5 {
    color: #000000;
    font-family: "Exo 2", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 639px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 240px;
    width: 126px;
  }
  
  .cadastro .input-field-instance {
    border-color: #ac0000;
    height: 57px;
    position: absolute;
    top: 270px;
    left: 639px;
    width: 555px;
  }
  
  .cadastro .design-component-instance-node {
    font-family: "Exo 2", Helvetica;
    font-size: 20px;
    top: 16px;
  }
  
  .cadastro .text-wrapper-6 {
    color: #000000;
    font-family: "Exo 2", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 30px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 354px;
    white-space: nowrap;
    width: 62px;
  }
  
  .cadastro .text-wrapper-7 {
    color: #000000;
    font-family: "Exo 2", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 639px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 354px;
    white-space: nowrap;
    width: 345px;
  }
  
  .cadastro .text-wrapper-8 {
    color: #000000;
    font-family: "Exo 2", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 639px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 119px;
    width: 126px;
  }
  
  .cadastro .text-wrapper-9 {
    color: #f5061dcc;
    font-family: "Exo 2", Helvetica;
    font-size: 35px;
    font-weight: 600;
    left: 30px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 17px;
    white-space: nowrap;
    width: 591px;
  }

  .cadastro .text-cad {
    color: #000000;
    font-family: "Exo 2", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 639px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 469px;
    width: 126px;
  }
  
  .cadastro .text-erm {
    color: #000;
    letter-spacing: 0;
    white-space: nowrap;
    width: 100%;
    font-family: "Exo 2", Helvetica;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 354px;
    left: 639px;
}

  .cadastro .button-cria-conta {
    background-color: #f5061d;
    border-radius: 45px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 58px;
    padding: 2px 36px;
    display: inline-flex;
    position: relative;
    left: 917px;
    position: absolute;
    top: 644px;

  }
  
  .cadastro .cria-inactive-instance {
    left: 17px;
  }
  
  .cadastro .button-cria-conta-2 {
    font-size: 25px;
  }
  .cadastro .input-field-Senha{
    height: 57px;
    position: absolute;
    top: 499px;
    width: 555px;
    left: 639px;
  }
  
  .cadastro .input-field-2 {
    height: 57px;
    left: 30px;
    position: absolute;
    top: 152px;
    width: 555px;
  }
  
  .cadastro .input-field-3 {
    height: 57px;
    left: 639px;
    position: absolute;
    top: 384px;
    width: 555px;
  }
  
  .cadastro .input-field-4 {
    height: 57px;
    left: 639px;
    position: absolute;
    top: 152px;
    width: 555px;
  }
  
  .cadastro .input-field-5 {
    height: 57px;
    left: 30px;
    position: absolute;
    top: 270px;
    width: 555px;
  }
  
  .cadastro .input-field-6 {
    height: 57px;
    left: 30px;
    position: absolute;
    top: 384px;
    width: 555px;
  }
  
  .cadastro .input-field-7 {
    height: 57px;
    left: 30px;
    position: absolute;
    top: 499px;
    width: 555px;
    align-content: left;
  }

  .cadastro .overlap-3 {
    background-color: #f5061d;
    border-radius: 0px 0px 20px 20px;
    height: 77px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1280px;
  }
  
  .cadastro .ceubank {
    height: 74px;
    left: 530px;
    object-fit: cover;
    position: absolute;
    top: 3px;
    width: 220px;
  }
  
  .cadastro .group {
    height: 57px;
    left: 15px;
    position: absolute;
    top: 10px;
    width: 56px;
  }
  
  .cadastro .overlap-group-2 {
    height: 57px;
    position: relative;
  }
  
  .cadastro .ellipse {
    background-color: #ffffff;
    border-radius: 28px;
    height: 56px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 56px;
  }
  
  .cadastro .left-arrow {
    height: 56px;
    left: 0;
    position: absolute;
    top: 0;
    width: 56px;
  }