.icon-pag-inactive {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.icon-pag-inactive .rectangle {
  background-color: #f5061d;
  border-radius: 10px;
  height: 110px;
  position: relative;
  width: 119px;
}

.icon-pag-inactive .text-wrapper-4 {
  color: #000000;
  font-family: "Exo 2", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.icon-pag-inactive .barcode {
  height: 59px;
  left: 39px;
  position: absolute;
  top: 25px;
  width: 59px;
}
