.tela-inicial {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.tela-inicial .div-2 {
  background-color: #ffffff;
  height: 1032px;
  position: relative;
  width: 1280px;
}

.tela-inicial .overlap {
  background-image: url(https://c.animaapp.com/dLRYJhiQ/img/rectangle-3.png);
  background-size: 100% 100%;
  height: 944px;
  left: 0;
  position: absolute;
  top: 88px;
  width: 1280px;
}

.tela-inicial .r {
  color: transparent;
  font-family: "Exo 2", Helvetica;
  font-size: 28px;
  font-weight: 400;
  left: 248px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 192px;
  width: 139px;
}

.tela-inicial .span {
  color: #f5061d;
}

.tela-inicial .text-wrapper-4 {
  color: #040404;
}

.tela-inicial .overlap-group {
  height: 72px;
  left: 720px;
  position: absolute;
  top: 147px;
  width: 177px;
}

.tela-inicial .p {
  color: transparent;
  font-family: "Exo 2", Helvetica;
  font-size: 28px;
  font-weight: 400;
  left: 13px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 35px;
  width: 143px;
}

.tela-inicial .text-wrapper-5 {
  color: #f5061d;
  font-family: "Exo 2", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 177px;
}

.tela-inicial .overlap-2 {
  height: 70px;
  left: 930px;
  position: absolute;
  top: 150px;
  width: 235px;
}

.tela-inicial .r-2 {
  color: transparent;
  font-family: "Exo 2", Helvetica;
  font-size: 28px;
  font-weight: 400;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 33px;
  width: 130px;
}

.tela-inicial .text-wrapper-6 {
  color: #f5061d;
  font-family: "Exo 2", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 235px;
}

.tela-inicial .text-wrapper-7 {
  color: #f5061d;
  font-family: "Exo 2", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 209px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 150px;
  width: 229px;
}

.tela-inicial .conta-corrente {
  color: transparent;
  font-family: "Exo 2", Helvetica;
  font-size: 42px;
  font-weight: 500;
  left: 228px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 48px;
  width: 294px;
}

.tela-inicial .cart-o-de-cr-dito {
  color: transparent;
  font-family: "Exo 2", Helvetica;
  font-size: 42px;
  font-weight: 500;
  left: 814px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 46px;
  width: 362px;
}

.tela-inicial .line {
  height: 265px;
  left: 626px;
  object-fit: cover;
  position: absolute;
  top: 42px;
  width: 1px;
}

.tela-inicial .img {
  height: 4px;
  left: 153px;
  object-fit: cover;
  position: absolute;
  top: 372px;
  width: 945px;
}

.tela-inicial .wallet {
  height: 107px;
  left: 125px;
  position: absolute;
  top: 21px;
  width: 89px;
}

.tela-inicial .debit-card {
  height: 109px;
  left: 711px;
  position: absolute;
  top: 21px;
  width: 89px;
}

.tela-inicial .text-wrapper-8 {
  color: #000000;
  font-family: "Exo 2", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 526px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 437px;
  white-space: nowrap;
}

.tela-inicial .forward {
  height: 96px;
  left: 952px;
  position: absolute;
  top: 605px;
  width: 96px;
}

.tela-inicial .back {
  height: 96px;
  left: 189px;
  position: absolute;
  top: 605px;
  width: 96px;
}

.tela-inicial .button-ext {
  left: 245px !important;
  position: absolute !important;
  top: 285px !important;
}

.tela-inicial .button-icon-pix {
  height: 148px;
  left: 330px;
  position: absolute;
  top: 519px;
  width: 119px;
}

.tela-inicial .img-wrapper {
  background-color: #f5061d;
  border-radius: 10px;
  height: 110px;
  left: 0;
  position: absolute;
  top: 0;
  width: 119px;
}

.tela-inicial .image-2 {
  height: 62px;
  left: 28px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 61px;
}

.tela-inicial .text-wrapper-9 {
  color: #000000;
  font-family: "Exo 2", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 42px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 118px;
}

.tela-inicial .button-icon-ext {
  height: 148px;
  left: 554px;
  position: absolute;
  top: 519px;
  width: 119px;
}

.tela-inicial .list-view {
  height: 59px;
  left: 33px;
  position: absolute;
  top: 25px;
  width: 53px;
}

.tela-inicial .text-wrapper-10 {
  color: #000000;
  font-family: "Exo 2", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 13px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 118px;
}

.tela-inicial .button-ver-fat {
  left: 869px !important;
  position: absolute !important;
  top: 285px !important;
}

.tela-inicial .button-icon-pag {
  left: 769px !important;
  position: absolute !important;
  top: 519px !important;
}

.tela-inicial .icon-pag-inactive-instance {
  left: 39px !important;
  top: 25px !important;
}

.tela-inicial .frame-25 {
  left: 330px !important;
  position: absolute !important;
  top: 726px !important;
}

.tela-inicial .frame-instance {
  left: 34px !important;
  top: 29px !important;
}

.tela-inicial .group {
  height: 148px;
  left: 545px;
  position: absolute;
  top: 726px;
  width: 133px;
}

.tela-inicial .coin-in-hand-wrapper {
  background-color: #f5061d;
  border-radius: 10px;
  height: 110px;
  left: 7px;
  position: absolute;
  top: 0;
  width: 119px;
}

.tela-inicial .coin-in-hand {
  height: 72px;
  left: 19px;
  position: absolute;
  top: 19px;
  width: 77px;
}

.tela-inicial .text-wrapper-11 {
  color: #000000;
  font-family: "Exo 2", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 118px;
}

.tela-inicial .overlap-wrapper {
  height: 148px;
  left: 756px;
  position: absolute;
  top: 726px;
  width: 164px;
}

.tela-inicial .overlap-3 {
  height: 148px;
  position: relative;
}

.tela-inicial .group-wrapper {
  height: 148px;
  left: 0;
  position: absolute;
  top: 0;
  width: 164px;
}

.tela-inicial .group-2 {
  height: 148px;
  position: relative;
  width: 166px;
}

.tela-inicial .rectangle-3 {
  background-color: #f5061d;
  border-radius: 10px;
  height: 110px;
  left: 22px;
  position: absolute;
  top: 0;
  width: 119px;
}

.tela-inicial .text-wrapper-12 {
  color: #000000;
  font-family: "Exo 2", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 119px;
}

.tela-inicial .group-3 {
  background-image: url(https://c.animaapp.com/dLRYJhiQ/img/online-money-transfer-2@2x.png);
  background-size: 100% 100%;
  height: 71px;
  left: 45px;
  position: absolute;
  top: 19px;
  width: 77px;
}

.tela-inicial .overlap-4 {
  height: 85px;
  left: 0;
  position: absolute;
  top: -2px;
  width: 1280px;
}

.tela-inicial .rectangle-4 {
  background-color: #f5061d;
  border-radius: 0px 0px 20px 20px;
  height: 75px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1280px;
}

.tela-inicial .male-user {
  height: 83px;
  left: 1199px;
  position: absolute;
  top: 2px;
  width: 67px;
}

.tela-inicial .ceubank {
  height: 59px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 238px;
}

.tela-inicial .frame-wrapper {
  height: 32px;
  left: 612px;
  position: absolute;
  top: 43px;
  width: 103px;
}

.tela-inicial .div-wrapper {
  align-items: center;
  background-color: #f44858;
  border-radius: 10px 0px 0px 0px;
  display: flex;
  gap: 10px;
  height: 32px;
  justify-content: center;
  overflow: hidden;
  padding: 4px 28px;
  position: relative;
  width: 103px;
}

.tela-inicial .text-wrapper-13 {
  color: #ffffff;
  font-family: "Exo 2", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -0.45px;
  margin-right: -0.45px;
  margin-top: -1.14px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.tela-inicial .group-4 {
  height: 32px;
  left: 715px;
  position: absolute;
  top: 43px;
  width: 123px;
}

.tela-inicial .frame-2 {
  align-items: center;
  background-color: #f44858;
  display: flex;
  gap: 10px;
  height: 32px;
  justify-content: center;
  padding: 4px 28px;
  position: relative;
  width: 123px;
}

.tela-inicial .text-wrapper-14 {
  color: #ffffff;
  font-family: "Exo 2", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -0.54px;
  margin-right: -0.54px;
  margin-top: -1.14px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.tela-inicial .group-5 {
  height: 32px;
  left: 838px;
  position: absolute;
  top: 43px;
  width: 169px;
}

.tela-inicial .frame-3 {
  align-items: center;
  background-color: #f44858;
  display: flex;
  gap: 10px;
  height: 32px;
  justify-content: center;
  padding: 4px 28px;
  position: relative;
  width: 169px;
}

.tela-inicial .text-wrapper-15 {
  color: #ffffff;
  font-family: "Exo 2", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -0.73px;
  margin-right: -0.73px;
  margin-top: -1.14px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.tela-inicial .group-6 {
  height: 32px;
  left: 1003px;
  position: absolute;
  top: 43px;
  width: 179px;
}

.tela-inicial .frame-4 {
  align-items: center;
  background-color: #f44858;
  border-radius: 0px 0px 10px 0px;
  display: flex;
  gap: 10px;
  height: 32px;
  justify-content: center;
  overflow: hidden;
  padding: 4px 28px;
  position: relative;
  width: 179px;
}

.tela-inicial .text-wrapper-16 {
  color: #ffffff;
  font-family: "Exo 2", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -5.78px;
  margin-right: -5.78px;
  margin-top: -1.14px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
