.esq-senha {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.esq-senha .div-2 {
  background-color: #ffffff;
  height: 1024px;
  position: relative;
  width: 1280px;
}

.esq-senha .overlap {
  background: linear-gradient(180deg);
  border-radius: 10px;
  height: 896px;
  left: 25px;
  position: absolute;
  top: 103px;
  width: 1229px;
}

.esq-senha .text-wrapper {
  color: #000000;
  font-family: "Exo 2", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 343px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 408px;
  white-space: nowrap;
  width: 94px;
}

.esq-senha .text-wrapper-2 {
  color: #f5061dcc;
  font-family: "Exo 2", Helvetica;
  font-size: 35px;
  font-weight: 600;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  width: 591px;
}

.esq-senha .p {
  color: #000000cc;
  font-family: "Exo 2", Helvetica;
  font-size: 25px;
  font-weight: 600;
  left: 343px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 243px;
  white-space: nowrap;
  width: 503px;
}

.esq-senha .button-cria-conta {
  left: 500px !important;
  position: absolute !important;
  top: 592px !important;
}

.esq-senha .cria-inactive-instance {
  left: 3px !important;
}

.esq-senha .design-component-instance-node {
  font-size: 25px !important;
}

.esq-senha .input-field-instance {
  border-color: #ac0000 !important;
  border-radius: 20px !important;
  height: 57px !important;
  left: 343px !important;
  position: absolute !important;
  top: 329px !important;
  width: 555px !important;
}

.esq-senha .input-field-2 {
  font-family: "Exo 2", Helvetica !important;
  font-size: 20px !important;
  top: 16px !important;
}

.esq-senha .input-field-3 {
  border-color: #ac0000 !important;
  border-radius: 20px !important;
  height: 57px !important;
  left: 343px !important;
  position: absolute !important;
  top: 452px !important;
  width: 555px !important;
}

.esq-senha .text-wrapper-3 {
  color: #000000;
  font-family: "Exo 2", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 340px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 295px;
  white-space: nowrap;
  width: 94px;
}

.esq-senha .overlap-2 {
  background-color: #f5061d;
  border-radius: 0px 0px 20px 20px;
  height: 77px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1280px;
}

.esq-senha .ceubank {
  height: 74px;
  left: 530px;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 220px;
}

.esq-senha .group-29 {
  left: 15px !important;
  position: absolute !important;
  top: 10px !important;
}
