.tela-emprstimo_emp1 {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.tela-emprstimo_emp1 .div-2 {
  background-color: #ffffff;
  height: 1024px;
  overflow: hidden;
  position: relative;
  width: 1280px;
}

.tela-emprstimo_emp1 .overlap {
  background-color: #f5061d;
  border-radius: 0px 0px 20px 20px;
  height: 80px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1281px;
}

.tela-emprstimo_emp1 .text-wrapper {
  color: #ffffff;
  font-family: "Exo 2", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 517px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
  white-space: nowrap;
  width: 248px;
}

.tela-emprstimo_emp1 .group-29 {
  left: 17px !important;
  position: absolute !important;
  top: 12px !important;
}

.tela-emprstimo_emp1 .p {
  color: #000000;
  font-family: "Exo 2", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 157px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 131px;
  width: 968px;
}

.tela-emprstimo_emp1 .rectangle {
  background-color: #b30808;
  height: 5px;
  left: 246px;
  position: absolute;
  top: 295px;
  width: 250px;
}

.tela-emprstimo_emp1 .rectangle-2 {
  background-color: #b9b6b6;
  height: 5px;
  left: 508px;
  position: absolute;
  top: 295px;
  width: 250px;
}

.tela-emprstimo_emp1 .rectangle-3 {
  background-color: #b9b6b6;
  height: 5px;
  left: 770px;
  position: absolute;
  top: 295px;
  width: 250px;
}

.tela-emprstimo_emp1 .text-wrapper-2 {
  color: #000000;
  font-family: "Exo 2", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 246px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 254px;
}

.tela-emprstimo_emp1 .overlap-2 {
  height: 372px;
  left: 377px;
  position: absolute;
  top: 366px;
  width: 531px;
}

.tela-emprstimo_emp1 .overlap-group-wrapper {
  height: 372px;
  left: 0;
  position: absolute;
  top: 0;
  width: 531px;
}

.tela-emprstimo_emp1 .overlap-group-2 {
  background-color: #F7F7F7;
  border: 1px solid;
  border-color: #676363;
  border-radius: 10px;
  height: 200px;
  position: relative;
  width: 525px;
}

.tela-emprstimo_emp1 .text-wrapper-5 {
  color: #000000;
  font-family: "Exo 2", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 40px;
  white-space: nowrap;
}

.tela-emprstimo_emp1 .input-field-instance {
  border-color: #000000 !important;
  border-radius: 10px !important;
  height: 51px !important;
  left: 20px !important;
  position: absolute !important;
  top: 70px !important;
  width: 484px !important;
}

.tela-emprstimo_emp1 .design-component-instance-node {
  font-family: "Exo 2", Helvetica;
  transform: translateY(100%);
}

.tela-emprstimo_emp1 .button-cria-conta {
  left: 525px !important;
  position: absolute !important;
  top: 804px !important;
}

.tela-emprstimo_emp1 .cria-inactive-instance {
  left: 32px !important;
}

.tela-emprstimo_emp1 .button-cria-conta-2 {
  font-size: 25px !important;
}
