.input-field_pix {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #d4d7de;
  border-radius: 4px;
  height: 44px;
  width: 327px;
}

.input-field_pix .div {
  height: 15px;
  position: relative;
}

.input-field_pix .element {
  left: 288px !important;
  position: absolute !important;
  top: 0 !important;
  width: 100%;
  height: 100%;
  border: none;
  transform: translateX(-50%);
  background-color: transparent;
  outline: none;
}

.input-field_pix .property-1-default {
  left: 276px !important;
  position: absolute !important;
  top: 0 !important;
}

.input-field_pix .property-default-instance {
  left: 264px !important;
  position: absolute !important;
  top: 0 !important;
}

.input-field_pix .property-1-default-instance {
  left: 253px !important;
  position: absolute !important;
  top: 0 !important;
}

.input-field_pix .instance-node {
  left: 242px !important;
  position: absolute !important;
  top: 0 !important;
}

.input-field_pix.default-state {
  position: relative;
}

.input-field_pix.active-state .key-field_pix {
  height: 15px;
  left: 14px;
  position: relative;
  top: 16px;
  width: 300px;
}

.input-field_pix.default-state .key-field_pix {
  color: #323940;
  font-family: "PT Mono", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.8;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
