.input-field_cad {
  position: relative;
  display: inline-block;
  width: 327px;
  height: 44px;
  overflow: hidden;
  margin-bottom: 15px;
}

.input-field_cad .element {
  border-color: #ac0000;
  position: absolute;
  left: 0;
  width: 100%; /* Ajuste conforme necessário */
  height: 100%;
  outline: none;
  font-size: 16px;
  line-height: 44px;
  padding-left: 17px;
  border-radius: 10px;
}