.frame {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 9px;
  position: relative;
}

.frame .rectangle-2 {
  background-color: #f5061d;
  border-radius: 10px;
  height: 110px;
  position: relative;
  width: 119px;
}

.frame .text-wrapper-3 {
  color: #000000;
  font-family: "Exo 2", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 112px;
}

.frame .image {
  height: 51px;
  left: -4660px;
  object-fit: cover;
  position: absolute;
  top: -889px;
  width: 51px;
}

.frame:hover .rectangle-2 {
  background-color: #4b0007;
}

.frame:hover .image {
  top: -1058px;
}
