.input-field_EsqSenha3 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #d4d7de;
  border-radius: 4px;
  height: 44px;
  width: 327px;
}

.input-field_EsqSenha3 .overlap-group {
  height: 15px;
  position: relative;
}

.input-field_EsqSenha3 .element {
  background-color: #0000;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding-left: 17px;
  font-size: 16px;
  line-height: 44px;
  transform: translateY(-30%);
  position: absolute;
  left: 0;
  font-family: "Exo 2", Helvetica;
}

.input-field_EsqSenha3 .property-1-default {
  left: 276px !important;
  position: absolute !important;
  top: 0 !important;
}

.input-field_EsqSenha3 .property-default-instance {
  left: 264px !important;
  position: absolute !important;
  top: 0 !important;
}

.input-field_EsqSenha3 .property-1-default-instance {
  left: 253px !important;
  position: absolute !important;
  top: 0 !important;
}

.input-field_EsqSenha3 .instance-node {
  left: 242px !important;
  position: absolute !important;
  top: 0 !important;
}

.input-field_EsqSenha3.default-state {
  position: relative;
}

.input-field_EsqSenha3.active-state .key-field_EsqSenha3 {
  height: 15px;
  left: 14px;
  position: relative;
  top: 16px;
  width: 300px;
}

.input-field_EsqSenha3.default-state .key-field_EsqSenha3 {
  color: #323940;
  font-family: "Exo 2", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.8;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
