.tela-pix3 {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.tela-pix3 .overlap-wrapper {
  background-color: #ffffff;
  height: 1032px;
  width: 1280px;
}

.tela-pix3 .overlap {
  height: 1034px;
  position: relative;
  top: -2px;
}

.tela-pix3 .rectangle {
  height: 1032px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 1280px;
}

.tela-pix3 .div {
  background-color: #f7f7f7;
  border: 1px solid;
  border-color: #676363;
  height: 430px;
  left: 422px;
  position: absolute;
  top: 299px;
  width: 436px;
}

.tela-pix3 .rectangle-2 {
  background-color: #f5061d;
  border-radius: 0px 0px 20px 20px;
  height: 75px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1280px;
}

.tela-pix3 .text-wrapper {
  color: #000000;
  font-family: "Exo 2", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 432px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 150px;
  white-space: nowrap;
}

.tela-pix3 .text-wrapper-2 {
  color: #ffffff;
  font-family: "Exo 2", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 556px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12px;
  white-space: nowrap;
  width: 167px;
}

.tela-pix3 .group-29 {
  left: 17px !important;
  position: absolute !important;
  top: 9px !important;
}

.tela-pix3 .contacts {
  height: 69px;
  left: 463px;
  position: absolute;
  top: 340px;
  width: 71px;
}

.tela-pix3 .text-wrapper-3 {
  color: #6b6868;
  font-family: "Exo 2", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 539px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 363px;
  white-space: nowrap;
}

.tela-pix3 .text-wrapper-4 {
  color: #000000;
  font-family: "Exo 2", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 539px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 339px;
  white-space: nowrap;
}

.tela-pix3 .chave-chave-do {
  color: #6b6868;
  font-family: "Exo 2", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 539px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 388px;
  white-space: nowrap;
}

.tela-pix3 .text-wrapper-5 {
  color: #6b6868;
  font-family: "Exo 2", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 581px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 655px;
  white-space: nowrap;
}

.tela-pix3 .text-wrapper-6 {
  color: #000000;
  font-family: "Exo 2", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 542px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 622px;
  white-space: nowrap;
}

.tela-pix3 .r-valor {
  color: #6b6868;
  font-family: "Exo 2", Helvetica;
  font-size: 22px;
  font-weight: 400;
  left: 596px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 525px;
  white-space: nowrap;
}

.tela-pix3 .text-wrapper-7 {
  color: #000000;
  font-family: "Exo 2", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 543px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 492px;
  white-space: nowrap;
}

.tela-pix3 .button-ent-ent-inactive {
  left: 942px !important;
  position: absolute !important;
  top: 912px !important;
}

.tela-pix3 .button-ent-ent-instance {
  left: -27px !important;
}

.tela-pix3 .US-dollar {
  height: 69px;
  left: 464px;
  position: absolute;
  top: 483px;
  width: 69px;
}

.tela-pix3 .schedule {
  height: 62px;
  left: 468px;
  position: absolute;
  top: 618px;
  width: 61px;
}

.tela-pix3 .line {
  height: 1px;
  left: 422px;
  object-fit: cover;
  position: absolute;
  top: 457px;
  width: 436px;
}

.tela-pix3 .img {
  height: 1px;
  left: 424px;
  object-fit: cover;
  position: absolute;
  top: 582px;
  width: 434px;
}
