.input-field_pix2 {
  position: relative;
  display: inline-block;
  width: 327px;
  height: 44px;
  overflow: hidden;
  margin-bottom: 15px;
}

.input-field_pix2 .element {
  position: absolute;
  left: 0;
  width: calc(100% - 20px); /* Ajuste conforme necessário */
  height: 100%;
  border: none;
  outline: none;
  font-size: 20px;
  line-height: 44px;
  padding-left: 17px;
  font-family: "Exo 2", Helvetica;

}